<a href="https://colab.research.google.com/github/salmandaudpoto/pandas_hacks/blob/main/pandas_hacks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Personal Information:
- Salman Khan
- salmanabbasi36@gmail.com.


## Table of Contents:
1. How to find version number.
2. Making dataframe.
3. How to rename column.
4. Using template data.
5. Using your Own data.
6. Reverse row order.
7. Reverse column order.
8. Selecting column by dtype.
9. Convert string to number.
10. reduce dataframe size.

## 01-How to find version

- first we need to import library
- then check the version number

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

- we needed a command
- pip install --upgrade setuptools==59.8.0
- in order to use pd.show_version() function
- show_version() function will tell us all the information

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.8.16.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.10.133+
Version          : #1 SMP Fri Aug 26 08:44:51 UTC 2022
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.6
pytz             : 2022.7
dateutil         : 2.8.2
pip              : 22.0.4
setuptools       : 57.4.0
Cython           : 0.29.32
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.6
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.9.2
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.9.5 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 7.9.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : None
fsspec           : 2022.11.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : 0.17.9
pyarrow          : 9.0.0
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : 1.4.45
tables           : 3.7.0
tabulate         : 0.8.10
xarray           : 2022.12.0
xlrd             : 1.2.0
xlwt             : 1.3.0
numba            : 0.56.4

# 02-Make dataframe

- we can create our own dataframe by using builtin function i.e DataFrame
- we will add two cloumns in it
## Note:
- the number of row in each column should be same

In [5]:
df=pd.DataFrame({'A col': [1, 2, 3,11,22,33,45,56], 'B col': [4, 5, 6,78,32,12,24,87]})
df

   A col  B col
0      1      4
1      2      5
2      3      6
3     11     78
4     22     32
5     33     12
6     45     24
7     56     87

### WITH NUMPY
- we can also use numpy array to create a dataframe. 3d array
- first we need to create a numpy array.
- then we will convert this list into the dataframe

In [6]:
#numpy array used to create dataframe
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr
df = pd.DataFrame(arr)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# 03- how to rename columns?

In [8]:
df=pd.DataFrame({'A col': [1, 2, 3,11,22,33,45,56], 'B col': [4, 5, 6,78,32,12,24,87]})
df

   A col  B col
0      1      4
1      2      5
2      3      6
3     11     78
4     22     32
5     33     12
6     45     24
7     56     87

In [9]:
df.rename(columns={'A col': 'col_a', 'B col': 'col_b'}, inplace=True)
df

   col_a  col_b
0      1      4
1      2      5
2      3      6
3     11     78
4     22     32
5     33     12
6     45     24
7     56     87

In [10]:
df.columns=['col_aa', 'col_bb']
df

   col_aa  col_bb
0       1       4
1       2       5
2       3       6
3      11      78
4      22      32
5      33      12
6      45      24
7      56      87

In [11]:
# to replace any character,strng
df.columns=df.columns.str.replace('_','-')
df

   col-aa  col-bb
0       1       4
1       2       5
2       3       6
3      11      78
4      22      32
5      33      12
6      45      24
7      56      87

In [12]:
df.columns=df.columns.str.replace('-','_')
df

   col_aa  col_bb
0       1       4
1       2       5
2       3       6
3      11      78
4      22      32
5      33      12
6      45      24
7      56      87

adding Prefix

In [13]:
# Adding prefix to columns
df=df.add_prefix('babba_')
df

   babba_col_aa  babba_col_bb
0             1             4
1             2             5
2             3             6
3            11            78
4            22            32
5            33            12
6            45            24
7            56            87

rename column names

In [ ]:
df.columns =['col_a','col_b']
df

# 04- Using template data

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
phool= sns.load_dataset('iris')
phool.head()

- we will import pandasm numpy & sns
- then we will load iris

- now we can check the statistical data about the dataframe

In [ ]:
# summary
df.describe()

# columns name
df.columns

- now to save template dataset into excel and csv
## Note:
- but first we need to install: pip install openpyxl

# 05- Using your own data

In [17]:
import seaborn as sns

In [18]:
# saving a template dataset
df=sns.load_dataset('tips')
df.to_csv('tips_saved.csv')
df.to_excel('tips_saved.xlsx')

In [19]:
import pandas as pd
df = pd.read_csv('tips_saved.csv')
df.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# 05- Using your own data

In [ ]:
import pandas as pd
df = pd.read_csv('tips_saved.csv')
df.head()

In [ ]:
df = pd.read_excel('tips_saved.xlsx')
df.head()

# 06- Reverse row Order

In [ ]:
import pandas as pd
import seaborn as sns
df=sns.load_dataset('titanic')
df.tail()

### Rows Reverse order

In [ ]:
df.loc[::-1].head()

In [ ]:
df.loc[::-1].reset_index(drop=True).head()

### reset the reverse data row number from last row to top row

In [20]:
# 07- Reverse column order

In [21]:
df.loc[:, ::-1].head()

   size    time  day smoker     sex   tip  total_bill  Unnamed: 0
0     2  Dinner  Sun     No  Female  1.01       16.99           0
1     3  Dinner  Sun     No    Male  1.66       10.34           1
2     3  Dinner  Sun     No    Male  3.50       21.01           2
3     2  Dinner  Sun     No    Male  3.31       23.68           3
4     4  Dinner  Sun     No  Female  3.61       24.59           4